/* style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

#gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}

button {
    background: #4CAF50;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

#controlsOverlay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    background: rgb(0, 126, 55);
    align-items: center;
    color: white;
}

#score {
    font-size: 20px;
}

#fullscreenButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startScreen, #gameOverScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startScreen.active, #gameOverScreen.active {
    display: flex;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #score {
        font-size: 20px;
    }
}