body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #ccc;
}

button {
    background: #dedede;
    border-radius: 50px;
    padding: 15px 60px;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

#gameOverScreen h2 {
    color: white;
    font-size: 24px;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
}

#fullscreenButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startScreen, #gameOverScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#startScreen.active, #gameOverScreen.active {
    display: flex;
}
